<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Spring Boot Thymeleaf Hello World Example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" type="text/css"
          href="webjars/bootstrap/3.3.7/css/bootstrap.min.css"/>

    <link rel="stylesheet" th:href="@{/css/main.css}"
          href="../../css/main.css"/>

</head>
<body>
<div class="container">
    <div class="starter-template">
        <h4>Проведенные Операции:</h4>
    </div>

    <table th:object="${kps}" id="userTable" border="1">
        <tr>
            <th>N</th>
            <th>Вид</th>
            <th>Сумма</th>
            <th>Клиент</th>
            <th>Состояние</th>
            <th>Удаление</th>
            <th>Сторнирование</th>
        </tr>
        <tr th:each="kp :${kps}">
            <!--<form action="#" th:action="@{/kassa/KpOpers}" th:object="${kp}" method="post">-->
            <td th:text="${kp.getId()}"></td>
            <td th:text="${kp.getVid().getName()}"></td>
            <td th:text="${kp.getSum()}"></td>
            <td th:text="${kp.getClients().getFio()}"></td>
            <td th:text="${kp.isStorno()?'Сторнировано':'Ок'}"></td>
            <!--<td><input type="submit" value="Подробнее"/> </td>-->
            <td>
                <a th:href="@{'/kassa/KpOpersDelete/' + ${kp.id}}">
                    <span>Удалить</span>
                </a>
            </td>
            <td>
                <a th:href="@{'/kassa/KpOpersStor/' + ${kp.id}}">
                    <span>Сторнировать</span>
                </a>
            </td>

            <!--</form>-->
        </tr>
    </table>
    <!--<form  th:object="${kp}"  method="post">-->
    <!--<output th:field="*{id}"></output>-->
    <!--&lt;!&ndash;<output th:text="${kp.getVid().getName()}"></output>&ndash;&gt;-->
    <!--&lt;!&ndash;<output th:text="${kp.getSum()}"></output>&ndash;&gt;-->
    <!--&lt;!&ndash;<output th:text="${kp.getClients().getFio()}"></output>&ndash;&gt;-->
    <!--</form>-->
</div>
<script type="text/javascript"
        src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>
